Binaries/
Intermediate/
Content/StarterContent/
.vs/BuildingEscape/v15/Browse.VC.db
.vs/BuildingEscape/v15/Solution.VC.db
.vs/BuildingEscape/v15/Browse.VC.opendb
.vs/BuildingEscape/v15/Solution.VC.db-shm
.vs/BuildingEscape/v15/Solution.VC.db-wal
Saved/
*BuiltData.uasset